@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    background: #202020;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #FF0077;

    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: .5s;
}

.expandir-btn{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
}

.expandir-btn i{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background-color: #FF0077;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 20px 4%;
}

ul li.item-menu a .txt-menu{
    margin-left: 50px;
    opacity: 0;
    transition: .5s;
}

ul li.item-menu a i{
    font-size: 30px;
    margin-right: 30px;
    margin-left: 10px;
}

nav.menu-lateral.expand .txt-menu{
    margin-left: 0px;
    opacity:1;
}

nav ul li.ativo{
    background-color: #FF0077;
}

nav.menu-lateral.expand{
    width: 300px;
}

