@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-image: url('https://images.unsplash.com/photo-1582641857491-7e9987c2e415?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    z-index: -1;

    font-size: 40px;
    color: #fff;
}

.conteudo{
    padding: 100px;
    background-color: #fff;
}

.conteudo h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.conteudo p{
    font-size: 1.5em;
}

section.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(img/wave.png);
    background-size: 1000px 100px;

    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400;
}
#onda2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}