*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    background-image: linear-gradient(45deg, #eeeeee, #ffffff);
}

.container{
    position: relative;
    width: 350px;
    height: 550px;
}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente,.tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

.frente{
    background-image: url(images/flip.jpg);
    background-size: cover;
}


.tras{
    background-color: #ff9100;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

