
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 60px 100px;
    background-color: #282828;
    color: #fff;
    border-radius: 120px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.button span{
    font-size: 30px;
    position: relative;
    z-index: 999999;
}

.button::before{
    content: '';
    background-color: #fe6600;
    width: 0;
    height: 0;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: width .5s, height .5s;
}

.button:hover::before{
    width: 1000px;
    height: 1000px;
}