/* ESTILO DO SLIDER */

/* sessão do slider */
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

/* conteúdo do slide */
.slide-content{
    width: 400%;
    height: auto;
    display: flex;
}

/* editando os botões */
.slide-content input{
    display: none;
}

/* box individual de cada imagem */
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    transition: 1s;
    text-align: center;
}

/* edição da imagem */
.slide-box img{
    width: 100%;
}

/* navegação manual */
.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

/* estino dos botões da navegação manual */
.nav-manual .manual-btn{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

/* editando a distância entre os botões (menos o ultimo) */
.nav-manual .manual-btn:not(:last-child){
    margin-right: 10px;
}

/* Quando passar o mouse por cima dos botões */
.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

/* ao ser clicado, oq ira acontecer com as imagens */
#radio1:checked ~ .primeiro{
    margin-left: 0;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

/* estilo da nevegação automática */
.nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #ff0054;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #ff0054;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

/* ligando e desligando visualização da versão de mobile e desktop */
.slider-mobile{
    display: none;
}

.slider-desktop{
    display: block;
}


/* FIM DO ESTILO DO SLIDE */

/* media query */

@media screen and (max-width: 980px){
    .slider-desktop{
        display: none;
    }

    .slider-mobile{
        display: block;
    }

    section.slider{
        padding-top:93px;
    }

    .nav-manual, .nav-auto{
        margin-top: 60%;
    }
}